@import "./components/details.css";

html, body {
    display: flex;
    width: 100%;
    height: 100%
    }

.wrapper{
    display: flex;
    flex-direction: row;
    height: 100%;
    width: 100%;
}
